@use "./variables" as *;

.flex-50 {
  flex: 0 1 50%;
}

.hire {
  height: 711px;
}

.accordion-wrapper {
  margin-top: 0;
  align-items: flex-start !important;
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}

.gap {
  gap: 147px;
}

.hire-right {
  padding: 54px 0;
  padding-left: 10px;
  width: 100%;
  height: auto;
  position: relative;
}
.hire-left {
  margin-top: 40px;
  height: 711px;
  position: relative;
  margin-top: 0;
  transition: height 0.5s ease-in-out;
}

.hire button {
  margin-top: 63.5px;
  margin-bottom: 0;
  width: 170px;
  font-size: calc(1rem / 5 * 4);
}

.hire h2 {
  margin-top: 20px;
}

.hire h6 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: calc(1.5rem / 5 * 4);
}

.hire p {
  font-size: calc(1.125rem / 5 * 4);
}

.mt-30 {
  margin-top: 30px;
}

.mb-3 {
  margin-bottom: 33px;
  margin-top: 0;
}
hr {
  margin: 0;
}

.hire-input {
  position: absolute;
  top: -10px;
}

.hire-input img {
  height: 167px;
  width: 570px;
}
@media screen and (max-width: 1400px) {
  .hire {
    height: unset;
    margin-top: 4rem;
  }
  .hire-right {
    width: 600px;
  }
}

@media screen and (max-width: 840px) {
  .hire-right {
    width: 100%;
  }
  .hire-left,
  .hire-img-div {
    width: 100%;
  }
  .hire-input {
    top: -10px;
    left: unset;
  }
  .hire-img-div {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

@media screen and (max-width: 1300px) {
  .accordion-wrapper {
    flex-direction: column !important;
  }
  .gap {
    gap: 10px;
  }
}

@media screen and (max-width: 600px) {
  .hire-input img {
    width: 100%;
    object-fit: contain;
  }
  .hire-cards li {
    width: 100%;
    min-width: 100% !important;
  }
  .hire-img-div {
    width: 100% !important;
  }
  .hire {
    margin: 0 auto;
  }
  .accordion-wrapper {
    width: 100%;
    padding: 1em;
    flex-direction: column-reverse !important ;
  }
}
