@use "./variables" as *;

.register-header {
  background: $header-green;
  display: grid;
  place-items: center;
}

.register-header h1 {
  color: $white;
  font-size: calc(4rem / 5 * 4);
  line-height: calc(1.39em / 5 * 4);
  margin-top: 0.875em;
}

.register p {
  color: $white;
  font-size: calc(1.375rem / 5 * 4);
}

.register nav {
  background: $header-green;
}

.register header {
  padding: 0;
}
