@use './variables' as *;

.login-form {
  min-width: 700px;
  max-width: 800px;
  padding: 20px 0;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.login-wrapper {
  padding: 10%;
  background-color: $green-wrapper;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-header {
  background: $header-green;
  display: grid;
  place-items: center;
}

.login-header h1 {
  color: $white;
  font-size: calc(4rem / 5 * 4);
  line-height: calc(1.39em / 5 * 4);
  margin-top: 0.875em;
}

.login-h2 {
  margin-top: 24px;
  font-size: 62px;
}

.login-p {
  margin-top: 0;
}
.login p {
  color: $white;
  font-size: calc(1.375rem / 5 * 4);
}

.login nav {
  background: $header-green;
}

.login header {
  padding: 0;
}

.login-h3 {
  margin-top: 56px;
}
.login-input {
  min-width: 565px;
  min-height: 60px;
  border-radius: 8px;
  border-radius: 7px;
  border: 1px solid rgba(37, 64, 53, 0.06);
  background: rgba(49, 121, 90, 0.09);
  margin-right: 0;
}

.left-align-login {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  // margin-bottom: 30px;
}

.login-label {
  line-height: 2;
}

.login-button {
  min-width: 565px;
  min-height: 60px;
  background-color: $green-button-color;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.875px;
  margin-top: 60px;
}
@media screen and (max-width: 1200px) {
  .login-wrapper {
    padding: 100px;
  }
}
@media screen and (max-width: 750px) {
  .login-wrapper {
    margin: 0 auto;
    padding: 20%;
  }

  .login-form {
    padding: 10%;
    min-width: unset;
    max-width: unset;
  }

  .login-p {
    text-align: center;
  }
  .login-input,
  .login-button {
    min-width: unset;
    min-width: 80vw;
  }
  .login-h2 {
    margin-top: 34px;
    font-size: 40px;
  }
}
