@use './variables' as *;

.register-form {
  min-width: 700px;
  max-width: 800px;
  padding: 20px 0;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.register-wrapper {
  padding: 10%;
  background-color: $green-wrapper;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-header {
  background: $header-green;
  display: grid;
  place-items: center;
}

.register-header h1 {
  color: $white;
  font-size: calc(4rem / 5 * 4);
  line-height: calc(1.39em / 5 * 4);
  margin-top: 0.875em;
}

.register-h2 {
  margin-top: 24px;
  margin-bottom: 28px;
  font-size: 62px;
}

.register-p {
  margin-top: 23px;
  margin-bottom: 109px;
}
.register p {
  color: $white;
  font-size: calc(1.375rem / 5 * 4);
}

.register nav {
  background: $header-green;
}

.register header {
  padding: 0;
}

.register-h3 {
  margin-top: 56px;
}
.register-input {
  min-width: 565px;
  min-height: 60px;
  border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #254035;
  opacity: 0.8029;
  margin-right: 0;
}

.left-align-register {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  // margin-bottom: 30px;
}

.register-label {
  line-height: 2;
}

.register-button {
  margin-top: 64px;
  min-width: 565px;
  min-height: 60px;
  background-color: $green-button-color;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.875px;
}
@media screen and (max-width: 1200px) {
  .register-wrapper {
    padding: 100px;
  }
}
@media screen and (max-width: 750px) {
  .register-wrapper {
    margin: 0 auto;
    padding: 20%;
  }

  .register-form {
    padding: 10%;
    min-width: unset;
    max-width: unset;
  }

  .register-p {
    text-align: center;
  }
  .register-input,
  .register-button {
    min-width: unset;
    min-width: 80vw;
  }
  .register-h2 {
    margin-top: 34px;
    font-size: 40px;
  }
}
